<div>
  <div>
    <app-content-child>
      <app-dvs-header header>
        <p>Titulo de la card</p>
      </app-dvs-header>
      <app-dvs-body body>
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="angular">
      </app-dvs-body>
      <app-dvs-footer footer></app-dvs-footer>
    </app-content-child>
  </div>

  <app-content-child>
    <app-dvs-header header>
      <p>Ng container y ng app-template-ref-example </p>
    </app-dvs-header>
    <app-dvs-body body>
      <app-using-state-button></app-using-state-button>
    </app-dvs-body>
  </app-content-child>


  <app-content-child>
    <app-dvs-header header>
      <p>Ng template </p>
    </app-dvs-header>
    <app-dvs-body body>
      <app-template-ref-example></app-template-ref-example>
    </app-dvs-body>
  </app-content-child>

  <app-content-child>
    <app-dvs-header header>
      <p>Ng template </p>
    </app-dvs-header>
    <app-dvs-body body>
      <app-security></app-security>
    </app-dvs-body>
  </app-content-child>

  <app-content-child>
    <app-dvs-header header>
      <p>References template variables </p>
    </app-dvs-header>
    <app-dvs-body body>
      <app-reference-templates #contentChild></app-reference-templates>
    </app-dvs-body>
  </app-content-child>


  <h1>{{ value }}</h1>
  <div>
    <app-use-class-example></app-use-class-example>
    <app-use-existing-example></app-use-existing-example>
    <app-use-factory-example></app-use-factory-example>
    <app-multi-example></app-multi-example>
  </div>

  <div>
    <app-trackby></app-trackby>
  </div>
</div>