.custom-headers {
    background-color: #363535;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}